# Gradle files
.gradle/
.idea/
.tmp/
build/
caches/
daemon/
wrapper/
jdks/

# Android Studio specific files
.idea/
local.properties

# OS-specific files
*.log
*.bak
*.swp

# Android files
app/build/
